{% extends "base.html" %}
{% block content %}
<div class="card card-body" style="max-width: 80rem;">
    <div>
        <h1 style="text-align: center">COVID Web App</h1>
    </div>
    <div class="container">
        <h3>Select</h3>
        <form method="post">
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <label for="state_name">
                            <h5>State:</h5>
                        </label>
                        <select class="form-control" id="state_name" name="state_name" required>
                            <option hidden>Select a state</option>
                            {% for state in states %}
                            <option value="{{state['state_name']}}">{{ state['state_name']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md">
                    <div class="form-group">
                        <label for="county_name">
                            <h5>County:</h5>
                        </label>
                        <select class="form-control" id="county_name" name="county_name" required></select>
                    </div>
                </div>
            </div>

            <h5>Select number of days:</h5>
            <div class="box">
                <div class="slider">
                    <input type="range" min="7" max="100" value="30" steps="1" id="range" name="days">
                    <div class="value">
                        <span id="value"></span>
                    </div>
                </div>
            </div>

            <button class="btn btn-lg btn-block b hover" type="submit" value="submit">Submit</button>
        </form>
        <hr/>
        <div>
            <h3>Statistics</h3>
            <h5>{{ results_message }}</h5>
            <!-- Statistics cards-->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body stats1 card-hover">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-head mb-0">Total Cases</h5>
                                    <br>
                                    <span class="h2 font-weight-bold mb-0">{{ total_cases }}</span>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-viruses icon-size"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body stats2 card-hover">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-head mb-0">Total Deaths</h5>
                                    <br>
                                    <span class="h2 font-weight-bold mb-0">{{ total_deaths }}</span>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-hospital icon-size"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body stats3 card-hover">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-head mb-0">Transmission Level</h5>
                                    <br>
                                    <span class="h2 font-weight-bold mb-0">{{ risk_level }}</span>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-head-side-cough icon-size"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body stats4 card-hover">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-head mb-0">Daily Cases Per 100K Residents</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ cases_per_stat }}</span>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-virus icon-size"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="top-buffer">
            <!--The div element for the map -->
            <div id="map"></div>
            {{ map | safe }}
        </div>
        <hr/>
        <div class="row center">
            <table id="counties_table" class="table table-striped" width="100%">
                <thead>
                    <tr>
                        <th>Locality</th>
                        <th>State</th>
                        <th>Cases Per Capita</th>
                        <th>Total Cases</th>
                        <th>Total Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in cases_table %}
                        <tr>
                            <td>{{ entry.county_name }}</td>
                            <td>{{ entry.state_name }}</td>
                            <td>{{ entry.cases_per_cap }}</td>
                            <td>{{ entry.total_cases }}</td>
                            <td>{{ entry.total_deaths }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var slider = document.getElementById("range");
    var output = document.getElementById("value");
    output.innerHTML = slider.value;
    slider.oninput = function () {
        output.innerHTML = this.value;
    }
    slider.addEventListener("")
    slider.addEventListener("input", function () {
        var x = slider.value;
        var color = 'blue';
        slider.style.background = color;
    })
</script>
<script>
    $(document).ready(function () {
        $('#counties_table').DataTable({
            columns: [
                {data:'county'},
                {data:'state'},
                {data:'cases',
                render: function(data, type) {
                    return $.fn.dataTable.render.number( ',', '.', 1). display(data);
                },
                },
                {data:'Total Cases',
                render: function(data, type) {
                    return $.fn.dataTable.render.number( ',', '.', 0). display(data);
                },
                },
                {data:'Total Deaths',
                render: function(data, type) {
                    return $.fn.dataTable.render.number( ',', '.', 0). display(data);
                },
                }
                ],
            stateSave: true,
            });
    });
</script>
{% endblock content %}