{% extends "base.html" %}
{% block content %}
<div class="card card-body" style="max-width: 40rem;">
    <div>
        <h1 style="text-align: center">Project Title</h1>
        <form method="get">
            <div class="form-group">
                <label for="query1">Query 1</label>
                <input class="form-control" id="query1" placeholder="Query 1" type="text" name="query1" required />
            </div>
            <div class="form-group">
                <label for="query2">Query 2</label>
                <input class="form-control" id="query2" placeholder="Query 2" type="text" name="query2" required />
            </div>

            <div class="form-group">
                <label for="query3">Query 3</label>
                <select class="form-control" id="query3">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                </select>
            </div>


            <button class="btn btn-lg btn-block b hover" type="submit">Submit</button>
        </form>

        <div class="top-buffer">
            <!--The div element for the map -->
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock content %}