{% extends "base.html" %} 
{% block content %}
<div class="card card-body" style="max-width: 80rem;">
    <div>
        <h1 style="text-align: center">Testing</h1>
    </div>
    <div class="container">
        <div class="row">    
            <div id="map"></div>
            {{ map | safe }}
        </div>
        <div class="row center">
            <table id="counties_table" class="table table-striped" width="100%">
                <thead>
                    <tr>
                        <th>Locality</th>
                        <th>State</th>
                        <th>Recent Cases Per Capita</th>
                        <th>Total Cases</th>
                        <th>Total Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in cases_table %}
                        <tr>
                            <td>{{ entry.county_name }}</td>
                            <td>{{ entry.state_name }}</td>
                            <td>{{ entry.cases_per_cap }}</td>
                            <td>{{ entry.total_cases }}</td>
                            <td>{{ entry.total_deaths }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    <script>
    $(document).ready(function () {
        $('#counties_table').DataTable({
            columns: [
                {data:'county'},
                {data:'state'},
                {data:'cases',
                render: function(data, type) {
                    return $.fn.dataTable.render.number( ',', '.', 1). display(data);
                },
                },
                {data:'Total Cases',
                render: function(data, type) {
                    return $.fn.dataTable.render.number( ',', '.', 0). display(data);
                },
                },
                {data:'Total Deaths',
                render: function(data, type) {
                    return $.fn.dataTable.render.number( ',', '.', 0). display(data);
                },
                }
                ]
                });
    });
    </script>
{% endblock %}